/*
* @Author: 86166
* @Date:   2020-05-28 17:18:32
* @Last Modified by:   86166
* @Last Modified time: 2020-05-30 15:06:37
*/
.whole{
	
	height: 2050px;
	background-color: #f5f5f5;
	margin: 0 auto;
}
.header{
	height: 100px;

}
.container1{
	width: 1200px;
	margin: 0 auto;
}
.nav{
	float: left;
}
.logo{
	float: left;
	margin-top: 31px;
	height: 39px;
	font-size:40px;
	font-family:Microsoft YaHei;
	font-weight:bold;
	color:rgba(0,164,255,1);
}
.nav li{
	float: left;
	margin-top: 42px;
	text-align: center;
	display: inline-block;
	width: 70px;
}
.nav li a{
	font-weight:400;
	color:rgba(5,5,5,1);
	display: block;
}
.nav li a:hover{
	padding-bottom: 10px;
	border-bottom: 2px solid rgba(0,164,255,1) ;
	text-align: center;
}
.nav1{
	margin-left: 70px;
	margin-right: 25px;
}
.nav3{
	margin-left: 25px;
	margin-right: 180px;
}
.form{
	float: left;
	margin-top: 31px;
	margin-right: 31px;

}
.search{
	float: left;
	width: 361px;
	height: 15px;
	padding-top: 13px;
	padding-bottom: 12px;
	padding-left: 19px;
	border: 1px solid rgba(0,164,255,1);
}
.submit{
	float: left;
	width: 50px;
	height: 42px;
	background:rgba(0,164,255,1) url('images/fa-search.png')
	no-repeat center center;
	border: 1px solid rgba(0,164,255,1)
}
.nav4{
	padding-top: 44px;
	float: right;
	padding-right: 10px;
	font-size:14px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(102,102,102,1);
}

.banner{
	
	background: url('images/banner2.png') 
	no-repeat center center;
	background-color:rgba(28,3,108,1);
	height: 420px;
	margin: 0 auto;
}
.container2{
	width:190px;
	height:420px;
	background:rgba(0,0,0,1);
	opacity:0.3;
	
}
.content{
	height:365px;
	padding-left: 20px;
	padding-top: 15px;

}
.text li a{
	font-size:14px;
	font-weight:400;
	color: rgba(255, 255, 255, 1);
	line-height:44px;
}
.short{
    display: inline-block;
    margin-left: 85px;
}
.yun{
    display: inline-block;
    margin-left: 45px;
}
.yun2{
    display: inline-block;
    margin-left: 60px;
}
.UI{
    display: inline-block;
    margin-left: 100px;
}
.product{
    display: inline-block;
    margin-left: 115px;
}
.text li a:hover{
	color: #00B4FF;
}
.text li a:hover span{
	color: #00B4FF;
}
.course{
	width: 1200px;
	margin: 0 auto;
	height:60px;
	margin-top: 8px;
	background:rgba(255,255,255,1);
	box-shadow:0px 2px 3px 0px rgba(118,118,118,0.2);
	position: relative;
	left: 0;
	top: 0;
}
.recommend{
	float: left;
	font-size: 16px;
	color: #00A4FF;
	float: left;
	margin-left: 34px;
	margin-top: 20px;

}
.cour li{
	float: left;
	margin-top: 21px;
	margin-left: 35px;
	width: 120px;
	text-align: center;
	border-left: 1px solid rgba(191,191,191,1);
	
}
.cour li a{
	font-size: 16px;
	color: #050505;
}

.alter{
	float: right;
	font-size: 14px;
	color: #00A4FF;
	position: absolute;
	top:21px;
	right: 60px; 
}
.recommend2{
	width: 1200px;
	margin: 0 auto;
	height:19px;
	margin-top: 40px;
	margin-bottom: 20px;
	
}
.rec{
	float: left;
	font-size:20px;
	font-weight:400;
	color:rgba(73,73,73,1);
}
.see{
	float: right;
	font-size:12px;
	font-weight:400;
	color:rgba(165,165,165,1);
	margin-right: 30px;
	margin-top: 10px;
}
.picture-top{
	width: 1200px;
	margin: 0 auto;
	height: 270px;
	margin-bottom: 15px
}
.picture1{
	float: left;
	width:228px;
	height:270px;
	background:rgba(255,255,255,1);
	box-shadow:0px 2px 5px 0px rgba(118,118,118,0.5);
	margin-right: 15px;
	position: relative;
	top: 0;
	left: 0;
}
.picture-last{
	float: left;
	width:228px;
	height:270px;
	background:rgba(255,255,255,1);
	box-shadow:0px 2px 5px 0px rgba(118,118,118,0.5);
	position: relative;
	top: 0;
	left: 0;
}
.img{
	width: 228px;
	height: 155px;
	
}
.img-info{
	position: absolute;
	top: 24px;
	left: 23px;

}
h6{
	width:185px;
	height:34px;
	font-size:14px;
	font-family:Microsoft YaHei;
	font-weight:400;
	color:rgba(5,5,5,1);
	line-height:20px;
	position: absolute;
	top: 180px;
	left: 24px;

}
.gaoji-info{
	display: inline-block;
	font-size: 14px;
	color: #FF7C2D;
	position: absolute;
	bottom: 20px;
	left: 24px;
}
.xuexi{
	display: inline-block;
	font-size: 12px;
	color: #999999;
	position: absolute;
	bottom: 20px;
	left: 55px;
}
.picture-bottom{
	width: 1200px;
	margin: 0 auto;
	height: 270px;

}
.class li{
	float: left;
}
.class li a{
	font-size:16px;
	font-weight:400;
	color:#868686;
}
.class li a:hover{
	font-size:16px;
	font-weight:400;
	color:#00A4FF;
}
.class1{
	margin-left: 290px;
}
.class2{
	margin-left: 70px;
	margin-right: 70px;
}
.class3{
	margin-right: 70px;
}
.recommend3{
	width: 1200px;
	margin: 0 auto;
	height:19px;
	margin-top: 37px;
	margin-bottom: 30px;
}
.picture-bottom2{
	width: 1200px;
	height: 320px;
	margin: 0 auto;
}
.rec{
	font-size:20px;
	font-weight:400;
	color:rgba(73,73,73,1);
}

.picture2{
	float: left;
	position: relative;
	top: 0;
	left: 0;
}
.teacher-whole{
	width: 228px;
	height: 123px;
	background:rgba(0,0,0,1);
	opacity:0.5;
	position: absolute;
	left: 15px;
	bottom: 5px;
}
.teacher{
	margin-top: 21px;
}
.teacher-name{
	font-size:18px;
	font-weight:bold;
	color:rgba(255,255,255,1);
	display: inline-block;
	margin-left: 20px;

}
.teacher-vocation{
	font-size:18px;
	color:rgba(255,255,255,1);
	display: inline-block;
}
.teacher-prot{
	width:175px;
	height:53px;
	margin-left: 20px;
	margin-top: 12px;
	font-size:12px;
	font-weight:400;
	color:rgba(255,255,255,1);
}
.img-first{
	width:471px;
	height:320px;	
}
.picture21{
	float: left;
	position: relative;
	top: 0;
	left: 0;
}
.characters{
	width: 163px;
	height: 62px;
	line-height: 36px;
	position: absolute;
	top: 99px;
	left: 25px;
}
.gra{
	font-size: 30px;
	font-weight: bold;
	color: #F9E103;
}
.turn{
	font-size: 25px;
	color: #FFFFFF;
}
.click-on{
	width: 87px;
	height: 25px;
	position: absolute;
	top: 173px;
	left: 28px;
	border: 1px solid #F9E103;
	
}
.click{
	position: absolute;
	top: 2px;
	left: 17px;
}
.click-on a{
	font-size: 14px;
	color: #F9E103;
}
.img1{
	width:228px;
	height:320px;
	margin-left: 15px;
}
.final{
	width: 1200px;
	height: 417px;
	margin: 0 auto;
}
.left{
	float: left;
	margin-left: 5px;
}
.zaixian{
	font-size:36px;
	font-weight:bold;
	color:rgba(0,164,255,1);
	margin-top: 129px;
}
.target{
	font-size:12px;
	color: #666;
	margin-top: 35px;
}
.download{
	width: 120px;
	height: 36px;
	margin-top: 33px;
	border: 1px solid #00A4FF;
	position: relative;
	top: 0;
	left: 0;
	
}
.APP{
	
	position: absolute;
	top: 10px;
	left: 27px;
}
.left .download a{
	font-size: 16px;
	color: #00A4FF;
}
.middle{
	width: 85px;
	height: 140px;
	float: left;
	margin-top: 129px;
	margin-left: 230px;
}
h5{
	font-size:16px;
	font-weight:400;
	color:rgba(51,51,51,1);
}
.about-xueli{
	margin-top: 15px;
}
.middle .about-xueli a{
	font-size:12px;
	font-family:SimSun;
	font-weight:400;
	color:rgba(51,51,51,1);
}
.new-introduction{
	width: 100px;
	height: 140px;
	float: right ;
	margin-top: 129px;
	margin-right: 210px;
}
.new-introduction1{
	margin-top: 15px;
}
.new-introduction .new-introduction1 a{
	font-size:12px;
	font-family:SimSun;
	font-weight:400;
	color:rgba(51,51,51,1);
}
.right{
	width: 70px;
	height: 80px;
	float: right;
	margin-top: 129px;
	margin-right: -280px;
}
.partner{
	margin-top: 15px;
}
.right .partner a{
	font-size:12px;
	font-family:SimSun;
	font-weight:400;
	color:rgba(51,51,51,1);
}

